@charset "UTF-8";
body {
  font-family: Montserrat, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  color: #333333 !important;
}

#main {
  margin: 0 auto;
}

#main .container {
  padding: 0;
  margin: 0;
}

#main .p-alternate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#main .p-alternate:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#main .p-alternate img {
  width: 50%;
}

#main .p-alternate .p-alternate__text {
  width: 50%;
  padding: 80px;
}

#main .text-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 100px 0;
}

#main .text-box h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

#main .text-box p {
  line-height: 2.4;
}

#main .text-box img {
  width: 500px;
}

#header nav .navbar-brand {
  color: #007bff;
}

#header nav .nav-item a {
  color: #E6E28B;
}

.hooper-slide {
  background-color: #62caaa;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: 2px solid #fff;
  font-size: 30px;
  border-radius: 10px;
}

header {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.02);
}

header .link-active {
  color: palevioletred !important;
}

header .navbar {
  padding: 24px 40px;
}

header .navbar-brand {
  font-size: 30px;
}

header .nav-link {
  font-size: 20px;
}

header .nav-item a {
  color: #E6E28B;
}

.c-title__h2 {
  color: #007bff;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 40px;
}

.u-font__bold {
  font-weight: bold;
}

.u-mt100 {
  margin-top: 100px !important;
}

.width {
  text-align: center;
  padding: 150px 0;
  margin-top: 100px;
}

.width p {
  margin: 30px 0;
}

.width a {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 14px 26px;
  display: inline-block;
  color: #ffffff;
}

.width a:hover {
  background-color: #ffffff;
}

footer {
  padding: 50px 0;
}

footer p {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  #main .home {
    width: 100%;
  }
  #main .p-alternate {
    display: block;
  }
  #main #about, #main #schedule {
    width: 100%;
  }
  #main #schedule {
    padding: 0 26px;
  }
  #main .contact__inner {
    width: 100%;
  }
  #main .text-box {
    display: block;
    padding: 0 26px;
    margin-top: 60px;
  }
  #main .text-box h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  #main .text-box img {
    max-width: 100%;
    width: 100%;
  }
  #main .text-box p {
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 2.0;
  }
  #main .p-alternate .p-alternate__text {
    width: auto;
    padding: 26px;
  }
  #main .p-alternate .p-alternate__text h3 {
    margin-bottom: 20px;
  }
  #main .p-alternate img {
    width: 100%;
  }
  footer p {
    width: auto;
    padding: 0 26px;
    font-size: 12px;
  }
  .c-title__h2 {
    padding: 0 26px;
  }
}

#contact {
  background-color: #007bff;
  color: #ffffff;
}

#contact a:hover {
  color: #007bff;
}

#instagram {
  background-color: #E6E28B;
  color: #ffffff;
  margin-top: 0px;
}

#instagram a:hover {
  color: #E6E28B;
}
/*# sourceMappingURL=style.css.map */