body {
    font-family: Montserrat, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;
    color: #333333!important;
}
#main {
    // max-width: 1200px;
    margin: 0 auto;

    .container {
        padding: 0;
        margin: 0;
    }
}
.hooper-slide {
    background-color: #62caaa;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    font-size: 30px;
    border-radius: 10px;
  }

  header {
    .link-active {
        color: palevioletred!important;
    }

    .navbar {
        padding: 24px 40px;
    }

    .navbar-brand {
        font-size: 30px;
    }
    .nav-link {
        font-size: 20px;
    }
  }

.text-box {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin: 100px 0;
    h2 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    p {
        line-height: 2.4;
    }
    img {
        width: 500px!important;
    }
}
.p-alternate {
    display: flex;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    img {
        width: 50%!important;
    }
    .p-alternate__text {
        width: 50%;
        padding: 80px;
    }
}
  

